.sticky-button{
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar-toggle{
    z-index: 9999;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 90%;
    left: 90%;
    transition: 0.5s;
    border-radius: 50%;
    border-color: black;
    padding-top: 0.6rem;
    padding-left: 0.8rem;
    font-size: 20px;
    box-shadow: 0 1px 4px 0;
}

.container{
    margin-top: 1%;
}

.content{
    width: 500px;
    height: 500px;
}

.sidebar{
    display: block;
    position: fixed;
    left: 100%;
}

.sidebar-text{
    text-align: center;
}

.sidebar-background{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100%;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-div{
    width: 100%;
}

.price{
    color: #008e8e;
    font-weight: bold;
}

.sidebar-top{
    height: 8%;
    background-color: #027a7a;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid; 
    border-color: black;
}

.sidebar-content{
    height: 56%;
    padding-top: 1%;
    overflow-y: scroll;
    background-color: white;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid; 
    border-bottom: 1px solid;
}

.sidebar-bottom{
    width: 100%; 
    height: 36%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-left: 1px solid;
    border-right: 1px solid; 
    border-bottom: 1px solid;
    background-color: white;
}

.sidebar-bottom-item{
    width: 100%;
    padding-top: 1%;
}

.btn-sidebar{
    width: 100%;
    border-radius: 0
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper{
  width: 200px;
  margin: auto;
}

.card-body{
  width: 400px;
}

ul{
    list-style: none;
}

.quantity{
    width: 110px;
}

.quantity a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.quantity a:hover{
    color: black;
}


input[type=number]{
    width: 36px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

thead{
    background-color: #027a7a;
    color: white;
    border: none;
}

th{
    font-weight: lighter;
    text-align: justify;
}

.title-container{
    background-color: #027a7a;
}

.checkout-container{
    width: 40%;
    padding: 1%;
    float: right;
}

.title-container{
    text-align: center;
    color: white;
    width: 100%;
    height: 10%;
    padding-top: 1%;
}

.checkout-table{
    text-align: justify;
}

.checkout-funcs{
    width: 100%;
}

.minimal{
    background-color: #fac881;
}